@media all and (min-width: 767px) and (-ms-high-contrast: none) {
    .swiper-button-prev {     
        left: 85%;
    }
}

@media all and (min-width: 1440px) and (-ms-high-contrast: none) {
    .m-content {
        &--news {
            width: 700px;
        }
    }

    .swiper-slide {
        &__content {
            width: 355px;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        &--custom {
            top: 124px;
        }
    }

    .swiper-button-prev {
        &--custom {
            left: 70%;
        }
    }
}
