@media screen and (min-width: 1440px) {
	.header {
		height: 50px;
		@include flexbox(row);
		align-items: center;
		background-color: #F6F8F9;

		&__box {
			&--l-nav {
				margin-left: 700px;
				position: relative;
			}
		}
	}

	.l-sub-nav {
		width: 160px;
		height: 200px;
		display: block;
		position: absolute;
		top: 30px;
		left: 360px;
		background-color: #F6F8F9;
		z-index: 2;
	}

	.l-sub-nav-list {
		height: 200px;
		@include flexbox(column);
		@include lists(0, 20px);

		&__item {
			margin-bottom: 10px;
		}
	}

	.l-sub {
		color: $label-active;
		opacity: 0.5;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}
	}

	.m-content {
		&--image {
			@include image(600px, 'Image-desktop.png');
			z-index: 2;
		}

		&--news {
			width: 400px;
			padding: 100px;
		}
	}

	.m-main {
		&__box {
			margin-top: 0;
			padding-top: 10px;
			&--slide {
				padding-top: 0;
				@include flexbox(row);
			}
		}
	}

	.m-text-box {
		padding: 146px 140px 145px 140px;
	}

	.swiper-slide {
		&--custom {
			flex-direction: column;
		}

		&__content {
			width: 400px;
			margin-right: 0;
		}

		&__wrapper {
			margin-right: 40px;
			&--custom {
				margin-right: 0;
				display: block;
			}
		}
	}

	.swiper-button-next {
		right: 140px;

		&--custom {
			right: 100px;
			top: 100px;
		}
	}

	.swiper-button-prev {
		left: 1250px;

		&--custom {
			left: 440px;
			top: 100px;
		}
	}

	.m-posts {
		&--slide {
			padding: 20px 140px;
		}

		&--now {
			padding: 0 140px 100px 140px;
		}

		&__box {
			&--article {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	.m-posts-large {
		width: 765px;
		margin-right: 40px;

		&__city {
			height: 430px;
		}

		&__travel {
			height: 430px;
			margin-bottom: 0;
		}
	}

	.m-posts-content {
		height: 350px;

		h4 {
			margin: 232px 0 0 0;
		}
	}

	.m-posts-small {
		margin-top: 0;
		flex-direction: column;

		&__content, & > div:nth-child(1) {
			margin-right: 0;
		}

		& > div:nth-child(3) {
			display: block;
			padding-bottom: 0;
		}
	}

	.m-image {

		&--custom {
			width: auto;
		}
	}

	.footer {
		padding: 60px 140px;
	}

	.l-footer {
		&__content {
			@include flexbox(row);
		}

		&__box {
			&--menu {
				margin-bottom: 0;
			}

			&--newsletter {
				align-items: flex-start;
			}
		}
	}

	.l-footer-logo {
		margin-right: 63px;
	}

	.l-menu-list {
		&__item {
			margin-right: 38px;
		}
	}

	.l-socials-content {
		margin-left: 140px;
	}

	.l-label {
		&:hover {
			opacity: 1;
		}
	}
}