@media screen and (min-width: 767px) {
	.header {
		&__box{
			&--m-nav {
				display: none;
			}

			&--l-nav {
				@include flexbox(row);
			}
		}
	}

	.l-nav-list {
		@include flexbox(row);
		@include lists(0, 0 0 0 360px);

		&__item {
			margin-right: 27px;
		}
	}

	.l-nav {
		text-decoration: none;
	}

	.m-label {
		&--small {
			color: $primary-color
		}
	}

	.l-label {
		font-size: $small-text;
		color: $label-active;
		opacity: 0.5;
	}

	.m-content {
		&--image {
			@include image(400px, 'Image-tablet.png');
		}

		&--news {
			padding: 40px 80px;
		}
	}

	.m-header-title-1 {
		margin-top: 0;
	}

	.m-schadow-box {
		display: none;
	}

	.m-text-box {
		padding: 46px 80px;
		justify-content: space-around;

		&__header {
			margin: 0;
		}

		&__text {
			h3 {
				padding: 0;
			}

			p {
				margin: 9px 0 0 0;
			}
		}
	}

	.swiper-slide {
		flex-direction: row;

		div:nth-child(1) {
			margin-right: 40px;
		}
	}

	.swiper-button-next {
		right: 80px;
	}

	.swiper-button-prev {
		left: 620px;
	}

	.m-posts {
		&--slide {
			padding: 20px 80px 0 80px;
		}

		&--now {
			padding: 0 80px 80px 80px;
		}
	}

	.m-posts-large {
		&__city, &__travel {
			height: 400px;
		}		
	}

	.m-posts-content {
		height: 320px;
		padding: 40px;
		justify-content: start;

		h4 {
			margin: 190px 0 0 0;
		}

		p {
			margin: 10px 0;
		}
	}

	.m-separate {
		background-color: #EBEDED;

		&--custom-posts {
			display: none;
		}
	}

	.m-posts-small {
		@include flexbox(row);

		& > div:nth-child(1) {
			margin-right: 40px;
		}

		& > div:nth-child(3) {
			display: none;
		}
	}

	.footer {
		padding: 56px 0 60px 80px;
		display: block;
		background-color: $common-color-label;
	}

	.l-footer {
		&__box {
			&--menu {
				width: 567px;
				margin-bottom: 50px;
				@include flexbox(row);
			}

			&--newsletter {
				@include flexbox(row);
				align-items: flex-end;
			}
		}
	}

	.l-footer-logo {
		margin-right: 287px;
		color: $common-color;
	}

	.l-menu-list {
		height: 84px;
		@include flexbox(column);
		@include lists(0, 0);
		flex-wrap: wrap;

		&__item {
			margin-right: 19px;
		}
	}

	.l-menu {
		text-decoration: none;
		color: #CBD0D3;

		&:hover {
			color: $label-active;
		}
	}

	.l-email-content {
		@include flexbox(column);
		position: relative;

		span {
			font-size: $small-text;
			color: #CBD0D3;
		}
	}

	.l-mail-field {
		width: 264px;
		height: 40px;
		margin-bottom: 16px;
		padding-left: 20px;
		background-color: transparent;
		border-color: $common-color;
		border-style: solid;
		border-radius: 6px;

		&:focus {
			outline: none;
			border-color: #72ACFF;
		}
	}

	
	input:invalid:focus {
		border-color: #FF4D4D;
	}

	.l-socials-content {
		margin-left: 188px;
	}

	.l-socials-list {
		@include flexbox(row);
		@include lists(0, 0);

		&__item {
			margin-right: 24px;
		}
	}
}