@mixin icons($width, $height, $icon-name) {
	display: inline-block;
	content: ' ';
	background-image: url('../icons/' + $icon-name);
	background-repeat: no-repeat;
	background-size: $width $height;
	height: $height;
	width: $width;
}

.m-icon {
	&--avatar:before {
		@include icons(16px,16px,'avatarMobile.svg');
	}

	&--facebook:before {
		@include icons(16px,16px,'facebook.svg');
	}

	&--instagram:before {
		@include icons(16px,16px,'instagram.svg');
	}

	&--twitter:before {
		@include icons(16px,16px,'twitter.svg');
	}

	&--website:before {
		@include icons(16px,16px,'web.svg');
	}

	&--time:before {
		@include icons(16px,16px,'time.svg');
	}

	&--home:before {
		@include icons(16px,16px,'home.svg');
	}

	&--discovery:before {
		@include icons(16px,16px,'discovery.svg');
	}

	&--photos:before {
		@include icons(16px,16px,'photos.svg');
	}

	&--contact:before {
		@include icons(16px,16px,'mail.svg');
	}

	&--arrow {
		position: absolute;
		top: 16px;
		left: 254px;
	}

	&--arrow:before {
		@include icons(16px, 16px, 'arrow.svg')
	}
}