.m-icon--avatar:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/avatarMobile.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--facebook:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--instagram:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/instagram.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--twitter:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/twitter.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--website:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/web.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--time:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/time.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--home:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/home.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--discovery:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/discovery.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--photos:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/photos.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--contact:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/mail.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }
.m-icon--arrow {
  position: absolute;
  top: 16px;
  left: 254px; }
.m-icon--arrow:before {
  display: inline-block;
  content: ' ';
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px; }

/*# sourceMappingURL=icons.css.map */
