$common-color: #FFF;
$common-color-label: #A6ADB4;
$label-active: #343638;
$primary-color: #FA6980;
$small-text: 11px;
$middle-text: 13px;
$big-text: 16px;

@mixin image($height, $image-name) {
	height: $height;
	background-image: url('../images/' + $image-name);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@mixin flexbox($direction) {
	display: flex;
	flex-direction: $direction;
}

@mixin lists($mar: null, $pad: null) {
	list-style-type: none;

	@if($mar) {
		margin: $mar;
	}

	@if($pad) {
		padding: $pad;
	}
}

%posts {
	margin-bottom: 30px;
	border: 1px solid transparent;
	border-radius: 5px;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.header {
	&__menu {
		margin: 10px;
		@include flexbox(row);
		justify-content: space-between;
	}

	&__box {
		&--l-nav {
			display: none;
		}
	}
}

.m-burger {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.m-nav {	
	@include flexbox(row);
	align-items: center;
	text-decoration: none;

	span:nth-child(1) {
		margin-right: 30px;
	}

	&__content {
		width: 287px;
		height: 812px;
		@include flexbox(column);
		box-shadow: 3px -6px 15px 10px #ccc;
		position: absolute;
		top: 0;
		left: -310px;
		z-index: 2;	
		transition: left 2s;	
	}
}

.m-nav-box {
	&--nav {
		height: 462px;
		padding: 40px 0 0 40px;
		background-color: #F6F8F9;
		
	}

	&--footer {
		height: 310px;
		background-color: $common-color-label;
	}
}

.m-nav-list {
	@include lists(85px 0 0 0, 0);

	&__item {
		margin: 34px 0;
	}
}

.m-menu-list {
	height: 195px;
	@include lists(40px 0 0 0);
	@include flexbox(column);
	flex-wrap: wrap;

	&__item {
		margin-bottom: 29px;
	}
}

.m-menu {
	text-decoration: none;
	color: $common-color;
	opacity: 0.5;

	span {
		font-size: $small-text;
	}
}

.m-socials-list {
	@include flexbox(row);
	@include lists(null,0 0 0 40px);

	&__item {
		margin-right: 24px;
	}
}

.m-label {

	&--logo {
		color: $primary-color;
		font-size: $middle-text;
	}

	&--mobile-nav {
		font-size: $small-text;
		color: $label-active;
		opacity: 0.5;
	}

	&--small {
		font-size: $middle-text;
		color: $common-color-label;
	}
}

.m-main__box {
	margin-top: 10px;

	&--posts {
		background-color: #F6F8F9;
	}
}

.m-content {
	&--image {
		@include image(388px, 'Image-mobile.png');
		width: 100%;
		position: relative;
		z-index: -2;
	}
}

.m-schadow-box {
	width: 100%;
	height: 388px;
	position: absolute;
	background-color: #000;
	opacity: 0.2;
	z-index: -1;
}

.m-text-box {
	height: 308px;
	padding: 40px 24px;
	@include flexbox(column);
	justify-content: space-between;
	color: $common-color;

	&__header {
		margin: 0 0 15px 0;
		font-size: 24px;
		font-weight: bold;
	}

	&__text {
		h3 {
			margin: 0px;
			padding-top: 20px;
			font-size: 24px;
			font-weight: bold;
		}

		p {
			margin: 50px 0 0 0;
			font-size: $big-text;
			line-height: 1.5;
		}
	}
}

.m-content {
	&--news {
		padding: 20px 24px;
		position: relative;
	}
	
}

.m-posts {
	&--slide {
		padding: 20px 24px 0 24px;
		position: relative;
	}

	&--now {
		padding: 0 24px;
	}

	&__box {
		&--article {
			@include flexbox(column);
			color: $common-color;
		}
	}
}

.m-posts-large {
	&__city {
		@include image(300px, 'bridge.png');
		@extend %posts;
	}

	&__travel {
		@include image(300px, 'forest.png');
		@extend %posts;
	}		
}

.m-posts-content {
	height: 240px;
	padding: 30px 24px;
	@include flexbox(column);
	justify-content: space-between;

	h3, p {
		font-size: $big-text;
	}

	h3 {
		margin: 0;
	}

	h4 {
		margin: 50px 0 30px 0;
		font-size: 24px;
		font-weight: bold;
	}

	p {
		line-height: 1.5;
	}
}

.m-time-stamp {
	@include flexbox(row);
	color: #CBD0D3;

	span {
		align-self: center;
	}

	span:nth-child(1) {
		height: $big-text;		
	}

	span:nth-child(2) {
		margin-left: 10px;
		font-size: $middle-text;
	}

	&--custom {
		color: $common-color-label;
	}
}

.m-posts-small {
	margin-top: 30px;
	color: #000;

	&__content {
		padding-bottom: 30px;
		
		h4 {
			margin: 10px 0;
			font-family: acumin-pro, sans-serif;
			font-size: $big-text;
			font-weight: bold;
		}
	}
}

.m-wrapper-svg {
	margin: 0;
}

.m-image {
	width: 100%;
}

.m-separate {
	display: block;
	border: 1px solid $common-color;
	border-radius: 2px;
	
	&--custom-posts, &--custom-news {
		border-color: #EBEDED;
	}
}

.m-author {
	text-decoration: underline;
}

.btn {
	cursor: pointer;
	&--primary {
		width: 151px;
		height: 40px;
		border: 1px solid transparent;
		border-radius: 6px;
		background-color: $primary-color;
		color: $common-color;
		font-size: $small-text;
		font-weight: bold;
	}

	&--submit {
		width:20px;
		height: 20px;
		margin: 0;
		padding:0;
		border:none;
		position:absolute;
		top:-3px;
		left:-1px;
		background-color: transparent;
	}
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: static;
}

.swiper-slide {
    @include flexbox(column);

    &__wrapper {
    	margin-bottom: 20px;
    	border-radius: 6px;
    	background-color: $common-color;

    	&--custom {
    		display: none;
    	}
    } 

    &__content {
    	margin-top: 10px;

    	h3, h4, p {
    		font-size: $big-text;
    	}

    	h3 {
    		color: $primary-color;
    	}

    	h4 {
    		margin-bottom: 0;
    	}

    	p {
    		margin-top: 0;
    		font-family: acumin-pro, sans-serif;
    		color: $common-color-label;
    	}
    }
}

.swiper-slide-text-box {
	margin: 0 24px;
	padding-bottom: 24px;

	h4 {
		margin-bottom: 0;
		font-size: $big-text;
	}

	p {
		margin-top: 0;
		font-family: acumin-pro, sans-serif;
		font-size: $middle-text;
		line-height: 1.5;
		color: $common-color-label;
	}
}

.swiper-button-prev, .swiper-button-next {

	top: 50px;
	color: #000;

	&:after {
		font-size: $big-text;
	}

	&:focus {
		outline: none;
	}
}

.swiper-button-prev {
	left: 300px;
}

.footer {
	display: none;
}

.active {
	span {
		color: $label-active;
		opacity: 1;
	}
}

@media all and (-ms-high-contrast: none) {
	.swiper-button-next, .swiper-button-prev {
		background-size: 8px 12px;
    	height: 12px;
    	top: 64px;
	}

    .swiper-button-next {
    	background-image: url('../icons/arrow-right.svg');
    	right: 20px;
    }

    .swiper-button-prev {
    	background-image: url('../icons/arrow-left.svg');
    	left: 85%;
    }
}

@import 'media-tablet';
@import 'media-desktop';
@import 'ie11';

.hidden {
	display: none;
}